/*navbar css*/
#nav{
    color:yellow;
}
#nav:hover{
    background-color:#ffffcc;
    
    color:black;

}
#headr{
    width:100%;
    background-color:black;
    padding:0px 80px 0px 100px;
}
/*footer*/
footer{background-color:#000000;
    font-size: 15px;
    color:#ffffff;
    padding:10px 20px 20px 20px;
    margin-top:100px;
   }
/*body*/
.whole{
    font-family:Arial,"Time New Roman";	
    font-size: 20px;
    color:#000000;
    margin:120px;
    
   
  }
.ff{
position:absolute;
top:200px;
left:500px;
margin:20px auto;
padding:10px 20px 20px 20px;
width:800px;
}
.ss{
position:absolute;
margin:20px auto;
padding:10px 20px 20px 20px;
width:800px;
top:300px;
left:500px;
}
