/*navbar css*/
#nav{
    color:yellow;
}
#nav:hover{
    background-color:#ffffcc;
    
    color:black;

}
#headr{
    width:100%;
    background-color:black;
    padding:0px 80px 0px 100px;
}
div{
    font-family:Arial,"Time New Roman";	
    font-size: 20px;
    color:#000000;
    margin:600px 100px;
}
.top{
  position:absolute;
  top:100px;
  left:100px;
  margin:50px 90px;
}
.hi{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
  padding:05px 05px 05px 05px;
 width:300px;
 top:200px;
 left:200px;
 
}
.ht{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
  padding:05px 05px 05px 05px;
 width:300px;
 top:200px;
 left:600px;
 
}
.he{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
 padding:05px 05px 05px 05px;
 width:300px;
 top:200px;
 left:1000px;

}
/*footer*/
footer{background-color:#000000;
    font-size: 15px;
    color:#ffffff;
    padding:10px 20px 20px 20px;
    margin-top:100px;
   }