/*navbar css*/
#nav{
    color:yellow;
}
#nav:hover{
    background-color:#ffffcc;
    
    color:black;

}
#headr{
    width:100%;
    background-color:black;
    padding:0px 80px 0px 100px;
}
div{
    font-family:Arial,"Time New Roman";	
    font-size: 20px;
    color:#000000;
}
.tope{
  position:relative;
  left:10vw ;
  margin:50px 90px;
}
.block{
    position:relative;
}
.hi{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
 padding:5px;
 width:300px;
 top:200px;
 left:200px;
 
}
.ht{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
  padding:05px 05px 05px 05px;
 width:300px;
 top:200px;
 left:600px;
 
}
.he{
 position:absolute;
 border: 2px solid yellow;
 margin:20px auto;
 padding:05px 05px 05px 05px;
 width:300px;
 top:200px;
 left:1000px;

}
.coloumn
{
    width: 30%;
    margin:0px 30px 0px 0px;
    border: 2px solid yellow;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    float:left;
    text-align: justify;
}
#row{
    margin-top:30px;
}

#row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 1000px) {
    .coloumn {
        width: 100%;
        margin:30px auto;
      

    }
    #get{
        margin-left:35px;
    }
}
/*footer*/
footer{background-color:#000000;
    font-size: 15px;
    color:#ffffff;
    padding:10px 20px 20px 20px;
    margin-top:100vh;
   }