/*navbar css*/
#nav{
    color:yellow;
}
#nav:hover{
    background-color:#ffffcc;
    
    color:black;

}
#headr{
    width:100%;
    background-color:black;
    padding:0px 80px 0px 100px;
}
/*footer*/
footer{background-color:#000000;
    font-size: 15px;
    color:#ffffff;
    padding:10px 20px 20px 20px;
    margin-top:100px;
   }

/*why*/
.hi{
    margin:20px auto;
    width :100%;
    font-family:Arial,"Time New Roman";
    font-size: 15px;
    color:#000000;
}
.hf{  
    margin:20px auto;
    width :100%;
    font-family:Arial,"Time New Roman";
    font-size: 15px;
    color:#000000;
}
.hii{
    margin:20px auto;
    width :100%;
    font-family:Arial,"Time New Roman";
    font-size: 15px;
    color:#000000;
 }
.hff{
    margin:20px auto;
    width :100%;
    font-family:Arial,"Time New Roman";
    font-size: 15px;
    color:#000000;
 }

.coloumn
{
    margin:0px 30px 0px 0px;
    padding:10px 10px 10px 10px;
    float:left;
    text-align: justify;
}
#row{
    margin-top:30px;
}

#row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 1000px) {
    .coloumn {
        width: 100%;
        margin:30px auto;
      

    }
    #get{
        margin-left:35px;
    }
}